

body{
    border-radius: 2rem; background: url("../images/ComfortYoga.png") no-repeat;
    
}

.answers:hover{
    border: 5px;
    border-radius: 15px;
    background-color: darkgreen !important;
   
}
.guessStyle{
    color: white;
    font-size: 20px;
    margin: auto;
}

.clickBground{
    background-color: sienna;
}

.questions{
    border-radius: 15px;
    width: 50%;;
}