

body{
    border-radius: 2rem; background: url("../images/ComfortYoga.png") no-repeat;
    
}

.questions:hover{
    border: 5px;
    border-radius: 2px;
    background-color: yellow !important;
    margin: 0 auto;
}
/* a:hover { 
    
} */